{{!-- The following component displays Ember's default welcome message. --}}
{{partial 'header'}}
{{!-- Feel free to remove this! --}}
<br>
<br>
<br>
<br>
<br>
<br>
<P>Here we want to add family tree</P>
